- breadcrumb_title _("Integrations")
- page_title _("Integrations")
- @content_class = "limit-container-width" unless fluid_layout

= render_if_exists 'admin/application_settings/elasticsearch_form', expanded: expanded_by_default?

%section.settings.as-plantuml.no-animate#js-plantuml-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('PlantUML')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Allow rendering of PlantUML diagrams in Asciidoc documents.')
  .settings-content
    = render 'plantuml'

= render_if_exists 'admin/application_settings/slack', expanded: expanded_by_default?

%section.settings.as-third-party-offers.no-animate#js-third-party-offers-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Third party offers')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Control the display of third party offers.')
  .settings-content
    = render 'third_party_offers', application_setting: @application_setting

= render 'admin/application_settings/snowplow', expanded: expanded_by_default?
= render 'admin/application_settings/pendo'
